.boxCountry1{
    width: 25%;
}
.boxCountry{
    align-content: space-between;
    margin: 30px 20px ;
    background-color:  hsl(209, 23%, 22%);
    border-radius: 5px;
    color:white; 
} 
.boxCountry img{
    width: 100%;
 
}
.boxCountry .boxText{
    padding: 20px; 
} 
.boxCountry .boxText h2{
    font-weight: 300;
}
.boxCountry  .description{
    margin:10px 0 ;
}
.boxCountry .description strong{
    font-weight: 300;
}
h2{
    color:white;
}
span{
    color:white;
    font-size: 17px;
}
strong{
    font-size: 17px;
    font-weight:700 ;
}
small{
    font-size: 15px;
}


.boxImg{
    padding: 80px 0;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    
}
@media  screen and (max-width: 750px) {
    .boxCountry1{
        width: 50%;
    }
    .boxCountry .boxText h2{
        font-size: 22px;
    }
}
@media  screen and (max-width: 450px) {
    .boxCountry1{
        width: 100%;
    }
    .boxCountry .boxText h2{ 
        font-size: 22px;
    }
} 